In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.DataFrame({'Study_hours' : sorted(np.random.randint(1,18,100)),
                    'Marks' : sorted(np.random.randint(80,800,100))})

In [3]:
data.head()

   Study_hours  Marks
0            1     85
1            1     92
2            1    105
3            2    106
4            2    108

In [4]:
data.to_csv('Study_hours_vs_Marks.csv')